<nz-header class="main-header" nz-row nztype="flex" style="background-color: darksalmon">

    <div>
        <h2 style="color: black; padding-left: 10px;">FixMate</h2>
    </div> 
    
    <div class="nav-links">
        <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
        <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
        <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>

</nz-header>
<router-outlet></router-outlet>

