<p>sign-up-company works!</p>



<div class="bg">
    <div class="parent">
      <div class="child">
  
        <div nz-col>
          <h1 >Company signup</h1>
        </div>
  
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              
              <input nz-input formControlName="name" placeholder="async validate try to write Jason" />
              <ng-template #userErrorTpl let-control>
                @if (control.errors?.['required']) {
                  Please input your username!
                }
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Adress</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              
              <input nz-input formControlName="adress" placeholder="async validate " />
              <ng-template #userErrorTpl let-control>
                @if (control.errors?.['required']) {
                  Please input your Adress
                }
                @if (control.errors?.['duplicated']) {
                  The adress is redundant!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
              <input nz-input formControlName="email" placeholder="email" type="email" />
              <ng-template #emailErrorTpl let-control>
                @if (control.errors?.['email']) {
                  The input is not valid E-mail!
                }
                @if (control.errors?.['required']) {
                  Please input your E-mail!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7" >Phone</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              
              <input nz-input formControlName="phone" placeholder="not required" />
              
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
              <input nz-input type="password" formControlName="password" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
              <input nz-input type="password" formControlName="checkPassword" placeholder="confirm your password" />
              <ng-template #passwordErrorTpl let-control>
                @if (control.errors?.['required']) {
                  Please confirm your password!
                }
                @if (control.errors?.['confirm']) {
                  Password is inconsistent!
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-control [nzOffset]="2" [nzSpan]="20">
              <button nz-button nzType="primary" >Submit</button>
            </nz-form-control>
          </nz-form-item>
          <label> Already have an account? <br> <a routerLink="/login">login now</a></label>
        </form>
  
      </div>
    </div>
  </div>
  
      
  
  
  
